body {
      
      font-family:Helvetica;
      color: black;
}

div.header {
      font-size: 16px;
      margin-top: 3%;
      marin-left: 5%;
      margin-right: 5%;
      
       }
   
   div a {
      text-decoration:none;
      
     }

   div.footer {
   
   position: absolute;
   left: 5%;
   right: 5%;
   bottom: 0;
   
   
   }

div.footer p {
 
   margin-top: 0px;
   margin-bottom: 0px;
   }
div.footer hr {
    margin-top: 0px;
   margin-bottom: 0px;
   }
      
       

 @media screen and (max-width: 700px){
   
   div.header {
      top: 0;
      left: 1%;
      right: 1%;
      
       }
   div.footer {
   
   position: absolute;
   left: 1%;
   right: 1%;
   bottom: 0;
   
  
   }
}
