body {
      width: 50%;
      font-size: 17px;
      font-family: Soehne, Helvetica, sans-serif;
      font-weight: 400;
      font-style: normal;
      color: rgb(29, 29, 31);
      margin: auto;
      } 
 
p  {line-height: 25px;}
  
div.header a { text-decoration: none; color: inherit;}
div.header {
         margin-top: 5vh;
         line-height: 10px;
           }
  
@media only screen and (max-width: 767px) {
      div.header {
      margin-top: 2.3vh;
      margin-left: 2.3vh;
      margin-right: 2.3vh;
      font-size: 16px;
    
      
      }}
