body {
      
      font-family:Helvetica;
      
}

div.header {
      
      position: absolute;
      left: 8%;
      right: 8%;
      font-size: 110%;
           }
div.header a{
      color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14vw 40vw;
  text-decoration: none;
}

   div.footer {
   
   position: absolute;
   left: 8%;
   right: 8%;
   bottom: 0;
   
   
   }

div.footer p {
 
   margin-top: 0px;
   margin-bottom: 0px;
   }
div.footer hr {
    margin-top: 0px;
   margin-bottom: 0px;
   }
      
       

 @media screen and (max-width: 700px){
   
   div.header {
      display: flex;
      justify-content: space-between;
      top: 0;
      left: 0;
      right: 0;
      font-size: 4vw;
      
      
       }
   div.footer {
   
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   
  
   }
}
