div.header {
      position: fixed;
      top: 1%;
      left: 20%;
      right: 20%;
      color: black;
       }
   
   div a {
      text-decoration:none;
      font-family:Georgia;
      color:black;
     }
  
   div.footer {
   
   position: fixed;
   left: 20%;
   right: 20%;
   bottom: 0;
   color: black;
   
   }

div.footer p {
 
   margin-top: 0px;
   margin-bottom: 0px;
   }
div.footer hr {
    margin-top: 0px;
   margin-bottom: 0px;
   }
      
       

 @media screen and (max-width: 700px){
   
   div.header {
      top: 0;
      left: 1%;
      right: 1%;
      color: black;
       }
   div.footer {
   
   position: fixed;
   left: 1%;
   right: 1%;
   bottom: 0;
   color: black;
  
   }
}
